[submodule "client/lib/jquery_mobile"]
	path = client/lib/jquery_mobile
	url = git://github.com/jquery/jquery-mobile.git
[submodule "client/lib/ember.js"]
	path = client/lib/ember.js
	url = git://github.com/emberjs/ember.js.git
[submodule "client/lib/ember_data"]
	path = client/lib/ember_data
	url = git://github.com/emberjs/data.git
[submodule "client/lib/ember-skeleton"]
	path = client/lib/ember-skeleton
	url = git://github.com/interline/ember-skeleton.git
