[submodule "client/lib/jquery_mobile"]
	path = client/lib/jquery_mobile
	url = git://github.com/jquery/jquery-mobile.git
[submodule "client/lib/ember_data"]
	path = client/lib/ember_data
	url = git://github.com/emberjs/data.git
